<p> Welcome, <%= params[:session][:email] %> </p>
<%= link_to "Create profile", controller: "mentor_profile", action: "new" %>
<%= link_to "Sign Out", method: :delete, controller: "sessions", action: "destroy" %>
