<h1>Users#view</h1>
<ul>
<% @users.each do |user| %>
    <li>
        <%= link_to "#{user.first_name} #{user.last_name}", controller: "users", action: "show", id: user %> --- 
        <%= link_to "send message", controller: "users", action: "send_msg",id: user%>
    </li>
<% end %>
</ul>
