<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

      <%= f.label :bio %>
      <%= f.text_area :bio %>

     <%= f.submit "Create my profile", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
