
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@profile) do |f| %>

      <%= f.label :bio %>
      <%= f.text_field :bio %>

      <%= f.submit "Save", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
