body
{
  overflow-x: hidden;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  position: absolute;
  margin: 0px; 
  min-height: 100%;
  background-color: #efefeb;
  color: #343;
  width: 100%;
}

a {
   color: #591;
   text-decoration: none;
   display: inline-block;

   .logo-text
   {
      color: #343;
   }
}

h2 {
    font-size: 40px;    
}

.green{
  color: #8dc63f; 
}

.login-bar
{
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  font-weight: 300;

  .bar-container{
    margin: auto;
    position: relative;
    .logo-small img{
      left: 0;
      vertical-align: middle;
      margin: -2px 5px;
    }
    .logo-text{
      vertical-align: middle;
      margin: 0px 2px;   
    }
    .user-links{
      right: 0;
      text-align: right;
      margin-right: 10px;
       
      img{
        vertical-align: middle;
      }

      a{
        margin-top: 6px;
        font-size: 14px;
      }

      .welcome-message{
        position: absolute;
        right: 150px;
        font-size: 14px;
        font-weight: 300;
        color: #666;
        margin-top: 8px;
      }

    }
    .logo-small, .user-links{
      width: 50%;
      top: 4px;
      position: absolute;  
    }
    .logo-small {
      width: 240px;
    }
  }
  a
  {
    color: #aaa;
  }

  a:hover
  {
    color: #591;
  }
}

.content{
  margin-top: 35px;  
}

.logo-container {
  text-align: center;    

    .logo-image {
      background-image: image-url('logo.png');
      width: 203px;
      height: 185px;
      background-repeat: no-repeat; 
      margin: auto;
    }

    .logo-text {
      font-size: 25px;
    }
}

.middle-section{
    margin:auto;
    width: 60%;
    min-width: 650px;
    .row{
        display: table-row;    
    }
    .middle-text{
        display: table-cell;
        width: 70%;
        vertical-align: middle;   
        p{
            text-align: justify;
        }
    }
}

.sign-up{
    display: table-cell;
    width: 30%;
    padding-left: 50px;
    vertical-align: middle;
    text-align: center;
    .sign-up-button{
        margin: auto;
        background-image: image-url('icons.png');
        width: 80px;
        height: 80px;
        border: solid 10px #9c3;
        background-position: -8px;
        border-radius: 100px;
    }
    .sign-up-label{
        font-size: 24px;
        font-weight: 400;
    }
    
    *{
        display: block;
        color: #333;
    }

    .green{
        font-size: 14px;
        color: #591;
    }
}

.nav-container {
    width: 60%;
    min-width: 650px;
    margin: 20px auto 100px;

    .nav-item {
        float: left;
        width: 25%;
        text-align: center;

        .label {
            color: #333;
            font-size: 20px;
        }

        .button {
            margin: 3px auto 10px;
            background-image: image-url('icons.png');
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
            border: solid 8px #9c2;
            border-radius: 50%;

        }

        .past {
            background-position: -111px -14px;
        }

        .participants {
            background-position: -311px -12px;
        }

        .mentor {
            background-position: -209px -13px;
        }

        .info {
            background-position: -408px -11px;
        }

    }
}

.nav-container:after {
    display: block;
    clear: both;
    content: "";
}


footer .container
{
  clear: both;
  color: #666;
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  background-color: #efefef;
  width: 100%;
  padding: 15px 20px;
  
  .contact {
     font-size: 14px;
     font-weight: 400;
  }
}
