// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user{
    margin: auto;
    max-width: 500px;
    padding-top: 20px;

    .top{
        position: relative;
        margin: 20px 0;
        
        .gravatar{
            display: inline-block;

        }

        .info{
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 30px;
            max-width: 345px;

            .name{
                font-size: 30px;
                font-weight: 600;
                margin: 0;
            }
            
            .roles{
                font-weight: 600;
            }

            .email{
                .email-img{
                    display: inline-block;
                    vertical-align: middle;
                }

                .email-address{
                    display: inline;
                    font-size: 15px;
                }
            }
        }
    }

    .bio{
        text-align: justify;
        margin-bottom: 35px;
    }
    .interests{
        .paragraph-title{
            font-size: 20px;
            font-weight: 500; 
            margin-bottom: 0;
        }

    }
}
