<section>
    <div class="logo-container">
      <%=link_to root_path do%>
        <div class="logo-image"></div>
        <span class="logo-text">directed <span class="green">reading</span> program</span>
      <%end%>
    </div>
</section>
